<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Login
    </title>
    <link rel="shortcut icon" href="/libreta.ico" />
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/styleLogin.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div id="contenedor">

        <header>
            <nav class="navbar navbar-dark bg-dark" id="navBar">
                <a class="navbar-brand">
                    <div class="row">
                        <div class="col-1">
                            <img src="/icono.png">
                        </div>
                        <div class="col">
                            <h5>Actidad 2 - Operaciones CRUD con NodeJS</h5>
                        </div>
                    </div>
                </a>
            </nav>
        </header>

        <div id="main">
            <div class="row">
                <div class="col-6">
                    <div id="imgSesion">
                        <img src="./publico/img/alumnos.png">
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <br>
                        <h5>Iniciar Sesión</h5>
                        <br>
                        <form>
                            <div class="form-group">
                                <label>Usuario</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input type="password" class="form-control">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Iniciar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="row">
                <div class="col-3">
                    <img src="/icono.png">
                    <img src="/UTlogo.png">
                </div>
                <div class="col">
                    <h4>Actidad 2 - Operaciones CRUD con NodeJS</h4>
                </div>
            </div>

            <div id="lineaFooter"></div>
            <p class="font-italic">actividad 2 - ©copyright</p>
        </footer>
    </div>
    <script src="/bootstrap.bundle.min.js"></script>
</body>

</html>