#contenedor
{
    width: 1200px;
    margin: auto;
}

#main
{
    height: 500px;
}

#btnRegistrar
{
    margin-top: 200px;
    margin-left: 50px;
}

#tablasCalif
{
    height: 470px;
    margin-left: 50px;
    margin-top: 20px;
    overflow-y: scroll;
}

.btnAtrasAlumnos
{
    margin-top: 60px;
    margin-left: 50px;
}

#tablaCalifAlumnos 
{
    width: 700px;
    font-size: 12px;
    margin-top: -13px;
}
