<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Alumnos</title>

    <link rel="shortcut icon" href="/libreta.ico" />
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styleAlumnos.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>

<body>
    <div id="contenedor">

        <nav class="navbar navbar-dark bg-dark" id="navBar">
            <a class="navbar-brand">
                <div class="row">
                    <div class="col-1">
                        <img src="/icono.png">
                    </div>
                    <div class="col">
                        <h5>Actidad 2 - Operaciones CRUD - Alumnos</h5>
                    </div>
                </div>
            </a>
        </nav>

        <div id="main">
            <div class="row">

                <div class="col-4" id="referencias2">

                    <h3>
                        Editar alumno:
                    </h3>

                    <br>

                    <a href="/alumnos" class="btn btn-outline-dark btnAtras">Regresar</a>

                </div>

                <div class="col-5">
                    <form action="/alumnos/actualizar/<%=reg[0].Matricula%>" method="post">
                        <div class="form-group">
                            <label for="full_name_id" class="control-label">Matricula:</label>
                            <input type="text" class="form-control" name="tfMatricula" value="<%=reg[0].Matricula%>">
                        </div>

                        <div class="form-group">
                            <label for="street1_id" class="control-label">Nombre: </label>
                            <input type="text" class="form-control" name="tfNombre" value="<%=reg[0].Nombre%>">
                        </div>

                        <div class="form-group">
                            <label for="street2_id" class="control-label">Apellidos</label>
                            <input type="text" class="form-control" name="tfApellido" value="<%=reg[0].Apellidos%>">
                        </div>

                        <div class="form-group">
                            <input type="submit" name="accion" value="Actualizar" class="btn btn-primary">

                        </div>

                    </form>
                </div>
            </div>
        </div>

        <footer>
            <div class="row">
                <div class="col-3">
                    <img src="/icono.png">
                    <img src="/UTlogo.png">
                </div>
                <div class="col">
                    <h4>Actidad 2 - Operaciones CRUD - Alumnos</h4>
                </div>
            </div>

            <div id="lineaFooter"></div>
            <p class="font-italic">actividad 2 - ©copyright</p>
        </footer>

    </div>
    <script src="/bootstrap.bundle.min.js"></script>
</body>

</html>